<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.honma.sticky</string>
	<key>connections</key>
	<dict>
		<key>097B107E-63A7-4FE7-AF49-996BA4618EF7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5ECFF251-2CAD-4F1D-A06C-DF2839A5150B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5ECFF251-2CAD-4F1D-A06C-DF2839A5150B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8AEDF9F6-85E5-4D99-B9D6-45153DCE5BDB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6DAD9472-91C3-4597-8597-4932311AC3CC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>97FD6B15-0624-4B60-9B27-3FC4F69FA302</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8AEDF9F6-85E5-4D99-B9D6-45153DCE5BDB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F33B683B-A0EB-497A-A636-52705FC683AC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>97FD6B15-0624-4B60-9B27-3FC4F69FA302</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>097B107E-63A7-4FE7-AF49-996BA4618EF7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9FE867AB-DC8C-469B-A9E6-206548B0DE26</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>97FD6B15-0624-4B60-9B27-3FC4F69FA302</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C9E6586E-551E-4757-ABC3-D5D90910911F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D80A2143-155B-4427-A742-66CD4F28C49E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D80A2143-155B-4427-A742-66CD4F28C49E</key>
		<array/>
		<key>F33B683B-A0EB-497A-A636-52705FC683AC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C9E6586E-551E-4757-ABC3-D5D90910911F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Tamio Honma</string>
	<key>description</key>
	<string>Quickly create a new sticky note</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Sticky Note</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>n</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>New Sticky Note</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9FE867AB-DC8C-469B-A9E6-206548B0DE26</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run(argv) {
  const appname = argv[0];
  const app = Application(appname.substring(0, appname.length - 1));
  app.activate();
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D80A2143-155B-4427-A742-66CD4F28C49E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtextrtf</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf2513
\cocoatextscaling0\cocoaplatform0{\fonttbl\f0\fnil\fcharset0 HelveticaNeue;}
{\colortbl;\red255\green255\blue255;\red0\green0\blue0;}
{\*\expandedcolortbl;;\cssrgb\c0\c0\c0\c84706\cname controlTextColor;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\partightenfactor0

\f0\fs26 \cf2 \{query\}}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>97FD6B15-0624-4B60-9B27-3FC4F69FA302</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>n</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>1048576</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>F33B683B-A0EB-497A-A636-52705FC683AC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>v</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>1048576</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>C9E6586E-551E-4757-ABC3-D5D90910911F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run(argv) {
  const system = Application("System Events");
  const process = system.processes.whose({ frontmost: {'=': true } })[0];
  return `${process.title()}.app`;
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>097B107E-63A7-4FE7-AF49-996BA4618EF7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/System/Applications/Stickies.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>5ECFF251-2CAD-4F1D-A06C-DF2839A5150B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>0.5</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>8AEDF9F6-85E5-4D99-B9D6-45153DCE5BDB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>45</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>N</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>6DAD9472-91C3-4597-8597-4932311AC3CC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Quickly create a new sticky note.

Use the "n" command to quickly write down your note or use an hotkey on selected text to add the text to a sticky note.

This workflow adds the selected or typed in text to a new note in the sticky note app and returns the focus back to the app, you used before that action.</string>
	<key>uidata</key>
	<dict>
		<key>097B107E-63A7-4FE7-AF49-996BA4618EF7</key>
		<dict>
			<key>xpos</key>
			<integer>395</integer>
			<key>ypos</key>
			<integer>55</integer>
		</dict>
		<key>5ECFF251-2CAD-4F1D-A06C-DF2839A5150B</key>
		<dict>
			<key>xpos</key>
			<integer>570</integer>
			<key>ypos</key>
			<integer>55</integer>
		</dict>
		<key>6DAD9472-91C3-4597-8597-4932311AC3CC</key>
		<dict>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>175</integer>
		</dict>
		<key>8AEDF9F6-85E5-4D99-B9D6-45153DCE5BDB</key>
		<dict>
			<key>xpos</key>
			<integer>740</integer>
			<key>ypos</key>
			<integer>85</integer>
		</dict>
		<key>97FD6B15-0624-4B60-9B27-3FC4F69FA302</key>
		<dict>
			<key>xpos</key>
			<integer>225</integer>
			<key>ypos</key>
			<integer>55</integer>
		</dict>
		<key>9FE867AB-DC8C-469B-A9E6-206548B0DE26</key>
		<dict>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>55</integer>
		</dict>
		<key>C9E6586E-551E-4757-ABC3-D5D90910911F</key>
		<dict>
			<key>xpos</key>
			<integer>1010</integer>
			<key>ypos</key>
			<integer>55</integer>
		</dict>
		<key>D80A2143-155B-4427-A742-66CD4F28C49E</key>
		<dict>
			<key>xpos</key>
			<integer>1195</integer>
			<key>ypos</key>
			<integer>55</integer>
		</dict>
		<key>F33B683B-A0EB-497A-A636-52705FC683AC</key>
		<dict>
			<key>xpos</key>
			<integer>835</integer>
			<key>ypos</key>
			<integer>55</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.1</string>
	<key>webaddress</key>
	<string>https://www.honma.de</string>
</dict>
</plist>
